# Node modules
node_modules
**/node_modules

# Lockfiles
pnpm-lock.yaml
yarn.lock
package-lock.json

# Build outputs
dist
build

# Configs que você não quer que o Prettier mexa
**/prettier.config.cjs

# Outros arquivos que você não quer formatar
*.md
